.search-client-info .form-group .input-group .input-group-append .btn{
    line-height: 0;
    height: 30px;
    padding: 6px 6px;
}
.search-client-info .form-group .input-group .input-group-append .btn i{
    line-height: 18px;
    font-size: 12px;
}
.client-information-model .modal-body .btn-div{
    text-align: center;
}
.client-information-model .modal-body .btn-div .btn{
    width: 100px;
    padding: 3px 12px;
}
.client-information-model .modal-header{
    padding: 14px 16px 12px;
}
.client-information-model .modal-header h4{
    font-size: 16px;
    font-weight: 500;
}
.client-information-model .modal-header .close{
    font-size: 1.2rem;
    padding: 8px 16px;
}
.horizontalMenu > .horizontalMenu-list>li>ul.sub-menu>li:hover>ul.sub-menu{
    max-height: 350px;
    overflow: auto;
}
.select2-container--default .select2-results__option .select2-results__option,
.select2-results__option{
    font-size: 12px;
}
label,
.form-label{
    font-size: 12px;
}
.form-control,
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.input-group-text{
    height:30px!important;
    font-size: 12px;
}
textarea.form-control{
    height:unset!important;
}